workflow/leetcode-tracker.json
{
  "name": "LeetCode Prep Auto-Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        -112
      ],
      "id": "d39a051f-5f4a-4cf5-bdc4-57dae77ceeda",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://alfa-leetcode-api.onrender.com/Akansha19Agrawal/solved",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -112
      ],
      "id": "4da4ce91-0597-4469-92fd-9c33067be260",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    date: today,\n    totalSolved: data.solvedProblem,\n    easySolved: data.easySolved,\n    mediumSolved: data.mediumSolved,\n    hardSolved: data.hardSolved\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -112
      ],
      "id": "7b784bc2-90ef-4ace-b88e-4af4b2c20802",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SD14reRQx-zXHc6Kaou430mNAiZ1hk8av24eOXwtKFE",
          "mode": "list",
          "cachedResultName": "LeetCode Progress Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SD14reRQx-zXHc6Kaou430mNAiZ1hk8av24eOXwtKFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SD14reRQx-zXHc6Kaou430mNAiZ1hk8av24eOXwtKFE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$json.date}}",
            "TotalSolved": "={{$json.totalSolved}}",
            "Easy": "={{$json.easySolved}}",
            "Medium": "={{$json.mediumSolved}}",
            "Hard": "={{$json.hardSolved}}",
            "Rating": "=",
            "Delta": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalSolved",
              "displayName": "TotalSolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Easy",
              "displayName": "Easy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medium",
              "displayName": "Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hard",
              "displayName": "Hard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delta",
              "displayName": "Delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -112
      ],
      "id": "7dee7f54-72bf-4df0-9adb-94d5879fa040",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "YBk6cJHYEyDoILlH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json;\n\nconst prompt = `You are a DSA prep coach for a student targeting SDE campus placements starting Aug 3, 2026.\n\nToday's stats:\n- Total solved: ${stats.totalSolved} (Easy: ${stats.easySolved}, Medium: ${stats.mediumSolved}, Hard: ${stats.hardSolved})\n- Weak areas: Dynamic Programming (especially Digit DP), Graphs/Trees, OOP, SQL\n- Goal: reach 400-450 total solved before the drive season\n\nRespond with plain text only (this goes straight into a Telegram message):\n1. Exactly 3 LeetCode problems to attempt today, mixing weak areas. Include name + difficulty.\n2. One specific, actionable study tip for today.\n3. A short one-line motivational note.\n\nKeep the whole response under 120 words.`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -112
      ],
      "id": "291e49b0-d997-46d6-9da3-4261d6f71494",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1504,
        -112
      ],
      "id": "4c42d853-a10f-4bc1-8a8e-6493c7cf88df",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QoVJ7Bi0LPSLQ8zv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.choices[0].message.content;\n\nreturn [{ json: { message: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -112
      ],
      "id": "f1a67657-bce1-49bc-ae13-e101e9f6886b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "1300876832",
        "text": "=LeetCode Daily Digest  {{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        -112
      ],
      "id": "72fa6f59-be10-4356-8de1-a1ee9f1a8557",
      "name": "Send a text message",
      "webhookId": "ac2227cd-436a-4c77-9204-e2f49fc33019",
      "credentials": {
        "telegramApi": {
          "id": "HgnAHj79kTmpu75f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-leetcode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1168,
        176
      ],
      "id": "9e4a26ea-7c15-48b7-93c9-1ca465a4ebf2",
      "name": "Webhook",
      "webhookId": "a58eeb7a-d6f8-41b7-af0f-a65bbbfa826a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paweiisfdbfbgvlnzbfq.supabase.co/rest/v1/progress_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhd2VpaXNmZGJmYmd2bG56YmZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzY1ODAwMSwiZXhwIjoyMDk5MjM0MDAxfQ.ZpBkRScfFHy0zgrIyhoJPPA0WmsKXxyOrd-aREAzXkQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhd2VpaXNmZGJmYmd2bG56YmZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzY1ODAwMSwiZXhwIjoyMDk5MjM0MDAxfQ.ZpBkRScfFHy0zgrIyhoJPPA0WmsKXxyOrd-aREAzXkQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"date\": \"{{ $('Code in JavaScript').item.json.date }}\",\n  \"total_solved\": {{ $('Code in JavaScript').item.json.totalSolved }},\n  \"easy_solved\": {{ $('Code in JavaScript').item.json.easySolved }},\n  \"medium_solved\": {{ $('Code in JavaScript').item.json.mediumSolved }},\n  \"hard_solved\": {{ $('Code in JavaScript').item.json.hardSolved }},\n  \"recommendation\": {{ JSON.stringify($json.message) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        -112
      ],
      "id": "0f22f8c4-1f5b-45c3-b38e-fdbaa96da73d",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "68871d10-2ffa-4519-bc5e-9b92e5891278",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "226e05c65451c9d4d9520c8eb661d0c06817a237eb3a79275fda28e95bdb8ee8"
  },
  "nodeGroups": [],
  "id": "gP5vwQxmqpMHGwDL",
  "tags": []
}